/* .Character-right {
    background: url('../../assets/character-right.png') no-repeat;
    background-size: 4em;
    width: 19%;
    height: 11em;
    position: fixed;
    display: inline-block;
    bottom: -1.4em;
    z-index: 300;
}
.Character-left {
    background: url('../../assets/character-left.png') no-repeat;
    background-size: 4em;
    width: 19%;
    height: 11em;
    position: fixed;
    display: inline-block;
    bottom: -1.4em;
    z-index: 300;
} */