.StartGame {
    width: 18%;
    height: auto;
    position: absolute;
    left: 44%;
    top: 17em;
    opacity: .4;
}

button {
    width: 100%;
    height: 9em;
    font-size: 1em;
    color: #ecf0f1;
    background-color: black;
    border: 4px solid #c0392b;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width: 658px){
    .StartGame {
        width: 35%;
    }
}