.City {
    background: url('../../assets/city.png') no-repeat;
    display: inline-block;
    height: 37em;
    position: relative;
    width: 50em;
    bottom: 143em;
    z-index: 1;
    background-size: 45em;
}