/* .City {
    background: url('../../assets/city.png') no-repeat;
    display: inline-block;
    height: 37em;
    position: fixed;
    width: 50em;
    bottom: -1em;
    z-index: 1;
    background-size: 45em;
} */