.Sign {
    background-color: #ecf0f1;
    border: 2px solid #d35400;
    border-radius: 2em;
    display: inline-block;
    height: 26em;
    position: absolute;
    width: 31em;
    z-index: 100;
}
.sign1-header {
    width: 50%;
    color: #2c3e50;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -12px;
    text-align: center;
}
.sign1-ul {
    border-top: 4px dotted grey;
    width: 65%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0; 
    padding-top: 1em;
}
.sign1-l1 {
    list-style: none;
    margin-top: 1em;
    width: 100%;
}
.sign1-l1 a {
    text-decoration: none;
    color: #2c3e50;
}


.Sign2-container {
    background-color: #ecf0f1;
    border: 2px solid #d35400;
    border-radius: 2em;
    display: inline-block;
    height: 26em;
    position: relative;
    width: 20em;
    z-index: 100;
    margin-right: 6em;
}

.Sign2 {
    display: inline-block;
    height: 28em;
    position: relative;
    width: 22em;
    bottom: -9em;
    z-index: 100;
    background-size: 35em;
    text-align: center;
    background-color: #ecf0f1;
    border: 2px solid #d35400;
    border-radius: 2em;
}
.Sign2 h4 {
    border-top: 4px dotted lightgray;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
}
.Sign2 ul {
    padding-left: 0;
    margin-top: 1em;
}
.Sign2 li {
    margin-bottom: 1em;
    list-style: none;
}