.Plane1 {
    background: url('../../assets/experience-plane.png') no-repeat;
    display: inline-block;
    height: 23em;
    position: relative;
    width: 35em;
    bottom: 145em;
    z-index: 1;
}


