.App {
  background: url('./assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  height: 100%;
  position: fixed;
  top: 0;
  left:0;
  overflow: hidden;
  width: 100%;
}
.component-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.clouds {
  width: 2000%;
}

#character-container {
  width: 2000%;
}

#tree-container {
  width: 2000%;
}

#mountain-container {
  width: 2000%;
}

#contact-sign-container {
  width: 2000%;
}

/* .signs {
  width: 2000%;
  position: relative;
}
.experience-signs {
  position: fixed;
  width: 400%;
}
.low-mountains {
  bottom: 76em !important;
}

.captions-container {
    height: 5em;
    position: relative;
    width: 675%;
    bottom: 174em;
    z-index: 2;
}

.Mountains {
  position: fixed;
  bottom: 0em;
  height: 25em;
}


.LeftButton {
    width: 20%;
    height: 18%;
    position: absolute;
    top: 79%;
    left: 0%; 
    z-index: 1000;
    background-color: transparent;
    border: none;
    font-size: 5em;
    background-color: lightgrey;
    opacity: .6;
}
.RightButton {
    width: 20%;
    height: 18%;
    position: absolute;
    top: 79%;
    left: 79%;
    z-index: 1000;
    background-color: transparent;
    border: none;
    font-size: 5em;
    background-color: lightgrey;
    opacity: .6;
}

@media (min-width: 769px) {
  .RightButton {
    display: none;
  }
  .LeftButton {
    display: none;
  }
} */
