
#root {
  height: 100%;
}

.App {
  overflow: hidden;
  max-width: 100%; 
  background: url('./assets/background.png') no-repeat center center fixed;
  width: 100%;
  height: 100vh;
}
.clouds {
  width: 2000%;
}
.signs {
  width: 2000%;
}
.experience-signs {
  position: relative;
  bottom: 122em;
}
.low-mountains {
  bottom: 76em !important;
}

.captions-container {
    height: 5em;
    position: relative;
    width: 675%;
    bottom: 174em;
    z-index: 2;
}