.Mountain {
    background: url('../../assets/mountains.png') no-repeat;
    display: inline-block;
    height: 28em;
    position: absolute;
    width: 36em;
    z-index: 1;
    background-size: 35em;
}